<% content_for(:title_tag) do %>
  <%= @thesis.title %>
<% end %>

<main class="container full">

  <div id="thesis-cover-wrapper">
    <%= image_tag asset_path("file.svg"), id:"drop-pdf-icon" %>
  </div>

  <div id="thesis-content-wrapper">

    <div id="thesis-content">
      <%= simple_form_for @thesis, defaults: { wrapper_html: { class: 'form-item'} }, html: { class: "form dropzone" } do |f| %>
        <div class="form-inputs">
          <%= f.input :title, label: false, placeholder: "Titre", input_html: { class: 'title big' } %>
          <%= f.input :subtitle, label: false, placeholder: "Sous-titre", input_html: { class: 'subtitle' } %>
          <hr>

          <div class="row gutters" id="meta">
            <div class="col col-6">
              <%= f.input :school_id, collection: School.all, label: 'École', input_html: { class: 'school big' } %>
            </div>
            <div class="col col-4">
              <%= f.input :thesis_diploma, collection: Diploma.all, label: 'Diplôme', input_html: { class: 'diploma big' } %>
            </div>
            <div class="col col-2">
              <%= f.input :year,
                          start_year: 1980,
                          end_year: Date.today.year,
                          order: [:year],
                          input_html: { class: 'year big' }
                          %>
            </div>
          </div>

          <div class="row">
            <div class="col col-12">
              <%= f.input :subcategories, as: :check_boxes, collection: Subcategory.all, label: 'Sous-catégories' %>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col col-12">
              <%= f.input :resume, as: :text, label: 'Résumé', input_html: { class: "resume", rows:"6"} %>
            </div>
          </div>

          <div class="row">
            <div class="col col-12">
              <%= f.input :tag_list, label: 'Tags', input_html: { class: 'tags' }, placeholder: "Séparez les tags par des virgules (,)" %>
            </div>
          </div>

          <div class="row gutters">
            <div class="col col-4">
              <%= f.input :license, label: 'License', input_html: { class: 'license' } %>
            </div>
            <div class="col col-8">
              <%= f.input :link, label: 'Lien', input_html: { class: 'link' } %>
            </div>
          </div>

          <%= f.input :document, label: '<strong>Déposez</strong> ici votre mémoire au <strong>format PDF</strong> ou <strong>cliquez</strong> pour le sélectionner'.html_safe %>
          <%= f.input :document_cache, as: :hidden %>

          <%= f.input :download, label: ' Autoriser le téléchargement de mémoire', label_html: { class: 'checkbox' }, input_html: { class: 'link' } %>

          <%#= check_box_tag(:download , {:checked => false} ) %>
          <%#= label_tag(:download, "Autoriser le téléchargement au format PDF de mémoire ?") %>

        </div>


        <div class="form-actions row between">
          <div class="col col-4">
            <%= f.submit "Valider", class: "button big secondary" %>
          </div>
          <% if current_user %>
            <div class="col col-4 push-middle">
              <%= link_to "Supprimer ce mémoire", user_thesis_path(@thesis.user, thesis), method: :delete, data: { confirm: "Êtes-vous sûr(e) de vouloir supprimer ce mémoire?" }, class: "button danger outline" %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div> <!-- /#thesis-content -->
  </div> <!-- /#thesis-content-wrapper -->

</main>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      /* Activating Best In Place */
      jQuery(".best_in_place").best_in_place();
    });
  <% end %>
<% end %>


