<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <header class="row" id="top">
    <nav class="col push-right tabs" data-component="tabs">
      <ul>
        <li class="active">
          <%= link_to "<i class='material-icons'>view_module</i>".html_safe, "#cards" %>
        </li>
        <li>
          <%= link_to "<i class='material-icons'>list</i>".html_safe, "#list" %>
        </li>
        <li>
          <%= link_to "<i class='material-icons'>map</i>".html_safe, "#map" %>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Cards -->
  <div id="cards" class="cards">
    <% 16.times do %>
      <%= link_to "#", class: "card" do %>
        <figure class="card-cover">
          <%= image_tag "http://placehold.it/#{rand(288..320)}x#{rand(384..512)}" %>
        </figure>
      <% end %>
    <% end %>
  </div>

  <!-- List -->
  <div id="list">
    <table class="table">
      <tr>
        <th></th>
        <th><%= t('.thesis_title_header') %></th>
        <th><%= t('.author_name_header') %></th>
        <th><%= t('.year_header') %></th>
        <th><%= t('.school_acronym_header') %></th>
        <th><%= t('.bookmarks') %></th>
      </tr>
      <% @theses.each do |thesis| %>
        <tr>
          <td class="thumbnail">
            <%= link_to "#" do %>
              <%= image_tag "http://placehold.it/32x48" %>
            <% end %>
          </td>
          <td>
            <%= link_to user_thesis_path(thesis.user, thesis) do %>
              <em><strong><%= thesis.title %></strong></em><br>
              <small><%= thesis.subtitle if thesis.subtitle %></small>
            <% end %>
          </td>
          <td><%= thesis.user.first_name %> <%= thesis.user.last_name %></td>
          <td><%= thesis.year.year %></td>
          <td><%= thesis.school.acronym.blank? ? thesis.school.name : thesis.school.acronym %></td>
          <td><%= thesis.get_likes.size %></td>
        </tr>
      <% end %>
    </table>
  </div>


  <!-- Map -->
  <div id="map">
    <h2>Map</h2>
  </div>

</main>
