<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<h1><%= t('.title') %></h1>

<table class="striped">
  <tr>
    <th>bookmark_symbol</th>
    <th>thesis_cover_thumbnail</th>
    <th><%= t('.thesis_title_header') %></th>
    <th><%= t('.author_name_header') %></th>
    <th><%= t('.school_acronym_header') %></th>
    <th><%= t('.city_header') %></th>
    <th><%= t('.year_header') %></th>
    <th><%= t('.categories_header') %></th>
  </tr>
<% @theses.each do |thesis| %>
  <tr>
    <td><%= thesis.get_likes.size %></td>
    <td></td>
    <td><%= thesis.title %></td>
    <td><%= thesis.user.first_name.capitalize %> <%= thesis.user.last_name.capitalize %></td>
    <td><%= thesis.school.acronym.blank? ? thesis.school.name : thesis.school.acronym %></td>
    <td><%= thesis.school.city %></td>
    <td><%= thesis.year.year %></td>
    <td>
      <% subcategories = [] %>
      <% thesis.subcategories.each do |subcategory| %>
        <% subcategories << subcategory.name %>
      <% end %>
      <%= subcategories.join(', ') %>
    </td>
  </tr>
<% end %>
</table>
