<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">
  <table class="table table-striped">
    <tr>
      <th>Thesis</th>
      <th>Author</th>
      <th>Year</th>
      <th>School</th>
      <th>Bookmarks</th>
    </tr>
  <% @theses.each do |thesis| %>
    <tr>
      <td>
        <%= link_to "#" do %>
          <em><%= thesis.title %></em><br>
          <small><%= thesis.subtitle if thesis.subtitle %></small>
        <% end %>
      </td>
      <td><%= thesis.user.first_name %> <%= thesis.user.last_name %></td>
      <td><%= thesis.year.year %></td>
      <td><%= thesis.school.acronym.blank? ? thesis.school.name : thesis.school.acronym %></td>
      <td><%= thesis.get_likes.size %></td>
    </tr>
  <% end %>
  </table>
</main>
