<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <nav class="col push-right tabs z200" data-component="tabs">
    <ul>
      <li id="tab-cards" class="active">
        <%= link_to "<i class='material-icons'>view_module</i>".html_safe, "#cards" %>
      </li>
      <li id="tab-list">
        <%= link_to "<i class='material-icons'>list</i>".html_safe, "#list" %>
      </li>
      <li id="tab-map">
        <%= link_to "<i class='material-icons'>map</i>".html_safe, "#map" %>
      </li>
    </ul>
  </nav>

  <!-- Cards -->
  <div id="cards" class="cards hide z100">
    <% @theses.each_with_index do |thesis, index| %>
      <% if thesis.document? %>
        <%= link_to user_thesis_path(thesis.user, thesis), class: "card mix #{thesis.categories.join(" ")}", :data => { :order => index + 1 } do %>
          <figure class="card-cover">
            <%= cl_image_tag("#{thesis.document.file.public_id}.png", :width => 288, :crop => :fill, :page => 1, :class => "shadow") %>
          </figure>
        <% end %>
      <% end %>
    <% end %>
    <% 16.times do %>
      <%= link_to "#", class: "card mix #{Thesis::CATEGORIES.sample}" do %>
        <figure class="card-cover">
          <%#= image_tag "http://placehold.it/#{rand(248..280)}x#{rand(344..448)}" %>
          <div style="background-color: #eee; width: <%= rand(248..280) %>px; height: <%= rand(344..448) %>px" class="shadow"></div>
        </figure>
      <% end %>
    <% end %>
  </div>

  <!-- List -->
  <div id="list" class="hide z100">
    <%= render "shared/list", elements: @theses %>
  </div>


  <!-- Map -->
  <div id='map' class="hide">
    <div id="popup_container"></div>
  </div>

  <!-- Card preview -->
  <footer id="card-preview" style="display: none">
    <table class="table">
      <tr>
        <td class="thesis-thumbnail">
          <%= link_to "#" do %>
            <%= image_tag "http://placehold.it/32x48" %>
          <% end %>
        </td>
        <td class="thesis-title">
          <%= link_to "#" do %>
            <h5>Titre</h5>
            <small>Sous-titre</small>
          <% end %>
        </td>
        <td class="thesis-author">Prénom Nom</td>
        <td class="thesis-school">École</td>
        <td class="thesis-year">Year</td>
        <td class="thesis-bookmarks">0</td>
      </tr>
    </table>
  </footer>

</main>

<% content_for(:after_js) do %>
  <script>

    // MixItUp
    var mixer = mixitup('.cards', {
      controls: {
        toggleLogic: 'and'
      }
    });


    // Mapbox
    $( "#tab-map" ).click(function() {
      if ($( this ).last().hasClass('active')) {
        map.invalidateSize();
      }
    });

    // Forget not to replace access token by ENV['MAPBOX_API_KEY']

    L.mapbox.accessToken = 'pk.eyJ1IjoidGltb3RoZWVnb2d1ZWx5IiwiYSI6ImNpemk1OGJqZjAwNDUyd2w5cWZ4c2ExdXkifQ.TUImirVLp-smIkKg9RQ3pw';

    // France centered map
    var map = L.mapbox.map('map', 'mapbox.light').setView([46.9, 2.2137], 6);

    var myLayer = L.mapbox.featureLayer()
    .loadURL('https://raw.githubusercontent.com/timotheegoguely/mnemosyne/master/db/schools_list_mnemosyne.geojson')
    .on('ready', function() {
      myLayer.eachLayer(function(layer) {
        var data =
        '<div><h1>' + layer.feature.properties.etablissements_sieges_et_sites +
        '</h1><br><hr><p>'+layer.feature.properties.adresse_1+'</p><br><p>'+layer.feature.properties.cp+'</p><p>'+layer.feature.properties.villes+'</p><p>'+layer.feature.properties.sites_internet+'</p><hr></div>'

        layer.bindPopup(data);
      });
    })

    .addTo(map);

  </script>
<% end %>
