<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <nav class="col push-right tabs z100" data-component="tabs">
    <ul>
      <li class="active">
        <%= link_to "<i class='material-icons'>view_module</i>".html_safe, "#cards" %>
      </li>
      <li>
        <%= link_to "<i class='material-icons'>list</i>".html_safe, "#list" %>
      </li>
      <li>
        <%= link_to "<i class='material-icons'>map</i>".html_safe, "#map" %>
      </li>
    </ul>
  </nav>

  <!-- Cards -->
  <div id="cards" class="cards">
    <% @theses.each_with_index do |thesis, index| %>
      <% if thesis.document? %>
        <%= link_to user_thesis_path(thesis.user, thesis), class: "card mix #{thesis.categories.join(" ")}", :data => { :order => index + 1 } do %>
          <figure class="card-cover">
            <%= cl_image_tag("#{thesis.document.file.public_id}.png", :width => 288, :crop => :fill, :page => 1, :class => "shadow") %>
          </figure>
        <% end %>
      <% end %>
    <% end %>
    <% 16.times do %>
      <%= link_to "#", class: "card mix #{Thesis::CATEGORIES.sample}" do %>
        <figure class="card-cover">
          <%#= image_tag "http://placehold.it/#{rand(248..280)}x#{rand(344..448)}" %>
          <div style="background-color: #eee; width: <%= rand(248..280) %>px; height: <%= rand(344..448) %>px" class="shadow"></div>
        </figure>
      <% end %>
    <% end %>
  </div>
  <footer id="card-preview">
      <table class="table">
        <tr>
          <td class="thesis-thumbnail">
            <%= link_to "#" do %>
              <%= image_tag "http://placehold.it/32x48" %>
            <% end %>
          </td>
          <td class="thesis-title">
            <%= link_to "#" do %>
              <h5>Titre</h5>
              <small>Sous-titre</small>
            <% end %>
          </td>
          <td class="thesis-author">Prénom Nom</td>
          <td class="thesis-school">École</td>
          <td class="thesis-year">Year</td>
          <td class="thesis-bookmarks">0</td>
        </tr>
      </table>
    </footer>

  <!-- List -->
  <div id="list" class="hide">
    <%= render "shared/list", elements: @theses %>
  </div>


  <!-- Map -->

    <div id='map' class="hide">

    <!-- Forget not to replace access token by ENV['MAPBOX_API_KEY'] -->
    <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoidGltb3RoZWVnb2d1ZWx5IiwiYSI6ImNpemk1OGJqZjAwNDUyd2w5cWZ4c2ExdXkifQ.TUImirVLp-smIkKg9RQ3pw';
      var map = L.mapbox.map('map', 'mapbox.light').setView([46.2276, 2.2137], 6);
    </script>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $( ".tabs li" ).one( "click", function() {
          if ($( this ).last().hasClass('active')) {
            map.invalidateSize();
          }
        });

        var mixer = mixitup('.cards', {
          controls: {
            toggleLogic: 'and'
          }
        });
      <% end %>
    <% end %>

  </div>

</main>
