<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <header class="row" id="top">
    <div class="col col-2">
      <%= link_to "<i class='material-icons md-18'>filter_list</i> Filtres".html_safe, "#", class: "button outline secondary", id: "filters", "data-component" => "offcanvas", "data-target" => "#offcanvas-left" %>
    </div>
    <div class="col push-right" id="views-options">
      <%= link_to "<i class='material-icons md-36'>view_module</i>".html_safe, "#" %>
      <%= link_to "<i class='material-icons md-36'>list</i>".html_safe, "#", class: "active" %>
      <%= link_to "<i class='material-icons md-36'>map</i>".html_safe, "#" %>
    </div>
  </header>

  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Thesis</th>
      <th>Author</th>
      <th>Year</th>
      <th>School</th>
      <th>Bookmarks</th>
    </tr>
  <% @theses.each do |thesis| %>
    <tr>
      <td>
        <%= link_to "#" do %>
          <%= image_tag "http://placehold.it/32x48", class: "thumbnail" %>
        <% end %>
      </td>
      <td>
        <%= link_to "#" do %>
          <em><strong><%= thesis.title %></strong></em><br>
          <small><%= thesis.subtitle if thesis.subtitle %></small>
        <% end %>
      </td>
      <td><%= thesis.user.first_name %> <%= thesis.user.last_name %></td>
      <td><%= thesis.year.year %></td>
      <td><%= thesis.school.acronym.blank? ? thesis.school.name : thesis.school.acronym %></td>
      <td><%= thesis.get_likes.size %></td>
    </tr>
  <% end %>
  </table>
</main>
