<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <nav class="col push-right tabs z200" data-component="tabs">
    <ul>
      <li id="tab-cards" class="active">
        <%= link_to "<i class='material-icons'>view_module</i>".html_safe, "#cards" %>
      </li>
      <li id="tab-list">
        <%= link_to "<i class='material-icons'>list</i>".html_safe, "#list" %>
      </li>
      <li id="tab-map">
        <%= link_to "<i class='material-icons'>map</i>".html_safe, "#map" %>
      </li>
    </ul>
  </nav>

  <!-- Cards -->
  <div id="cards" class="cards hide z100">
    <% @theses.each_with_index do |thesis, index| %>
      <% if thesis.document? %>
        <%= link_to user_thesis_path(thesis.user, thesis), class: "card mix #{thesis.categories.join(" ")}", :data => { :order => index + 1 } do %>
          <figure class="card-cover">
            <%= cl_image_tag("#{thesis.document.file.public_id}.png", :width => 288, :crop => :fill, :page => 1, :class => "shadow") %>
          </figure>
        <% end %>
      <% else %>
        <%= link_to user_thesis_path(thesis.user, thesis), class: "card mix #{thesis.categories.join(" ")}", :data => { :order => index + 1 } do %>
          <figure class="card-cover">
            <%= image_tag asset_path("/covers/#{thesis.cover}"), class: "shadow" %>
          </figure>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <footer id="card-preview" style="display: none">
    <table class="table">
      <tbody>
        <tr>
          <td class="thesis-thumbnail">
            <%= link_to "#" do %>
              <%#= image_tag "http://placehold.it/32x48" %>
              <div class="thumbnail" style="background-color: #ddd; height: 48px; width: 32px"></div>
            <% end %>
          </td>
          <td class="thesis-title">
            <%= link_to "#" do %>
              <h5>Titre</h5>
              <small>Sous-titre</small>
            <% end %>
          </td>
          <td class="thesis-author">Prénom Nom</td>
          <td class="thesis-school">École</td>
          <td class="thesis-year">Year</td>
          <td class="thesis-bookmarks">0</td>
        </tr>
      </tbody>
    </table>
  </footer>

  <!-- List -->
  <div id="list" class="hide z100">
    <%= render "shared/list", elements: @theses %>
  </div>


  <!-- Map -->
  <div id="map" class="hide"></div>
  <div id="info" class="school-info-wrapper"></div>


</main>

<% content_for(:after_js) do %>
  <script>

    // MixItUp
    var mixer = mixitup('.cards', {
      controls: {
        toggleLogic: 'and'
      }
    });


    // Mapbox
    $( "#tab-map" ).click(function() {
      if ($( this ).last().hasClass('active')) {
        map.invalidateSize();
      }
    });

    L.mapbox.accessToken = "pk.eyJ1IjoidGltb3RoZWVnb2d1ZWx5IiwiYSI6ImNpemk1OGJqZjAwNDUyd2w5cWZ4c2ExdXkifQ.TUImirVLp-smIkKg9RQ3pw";

    var info = document.getElementById('info');
    var map = L.mapbox.map('map').setView([46.9, 2.2137], 6);
    var styleLayer = L.mapbox.styleLayer('mapbox://styles/timotheegoguely/cizpp8yvt00g02snuonomh5ue').addTo(map);
    var myLayer = L.mapbox.featureLayer()
    .loadURL('https://raw.githubusercontent.com/timotheegoguely/mnemosyne/master/db/schools_list_mnemosyne.geojson')
    .addTo(map);

    // Listen for individual marker clicks.
    myLayer.on('click',function(e) {
      // Force the popup closed.
      e.layer.closePopup();

      var feature = e.layer.feature;
      var content = '<div class="school-info">' +
                    '<span id="school-close" class="close big"></span>' +
                    '<h2>' + feature.properties.etablissements_sieges_et_sites + '</h2><hr>' +
                    '<p class="school-address">' + feature.properties.adresse_1+'</p>' +
                    '<p class="school-zipcode">' + feature.properties.cp+'</p>' +
                    '<p class="school-city">' + feature.properties.villes + '</p>' +
                    '<p class="school-website">' + feature.properties.sites_internet + '</p></div>';

      info.innerHTML = content;
    });

    // Clear the tooltip when map is moved or clicked + when close button is clicked.
    map.on('move', empty);
    map.on('click', empty);
    $("#school-close").on('click', empty);

    // Trigger empty contents when the script
    // has loaded on the page.
    empty();

    function empty() {
      info.innerHTML = '';
    }

  </script>
<% end %>
