<div class="container">
  <h2>Mon mémoire</h2>
  <%= simple_form_for @thesis, defaults: { wrapper_html: { class: 'form-item'} }, html: { class: "form" } do |f| %>
    <div class="form-inputs">
      <%= f.input :title, input_html: { class: 'big' } %>
      <%= f.input :year,
                  start_year: 1980,
                  end_year: Date.today.year,
                  order: [:year],
                  input_html: { class: 'big' }
                  %>
      <%= f.input :school, collection: School.all, input_html: { class: 'big' } %>
      <%= f.input :thesis_diploma, collection: Diploma.all, input_html: { class: 'big' } %>
      <%= f.input :document, as: :attachinary %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
