<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>



<main class="container">
  <h3 style="margin-left: 144px;">
    <strong><%= @results.size %> </strong>
    <% if @results.size == 0 || @results.size > 1 %>
      <%= t('.search_result_begin') + "s" %>
    <% else %>
      <%= t('.search_result_begin') %>
    <% end %>
    <%= t('.search_result_end') %>
    <strong> <%= @keywords %></strong>
  </h3>

  <div id="list">
    <%= render "list", elements: @results %>
  </div>


</main>
