<% content_for(:title_tag) do %>
  <%= t('.title') %>
<% end %>

<main class="container">

  <h3 style="margin-left: 144px;">
    <strong><%= @results.size %> </strong>
    <% if @results.size == 0 || @results.size > 1 %>
      <%= t('.search_result_begin') + "s" %>
    <% else %>
      <%= t('.search_result_begin') %>
    <% end %>
    <%= t('.search_result_end') %>
    <strong> <%= @keywords %></strong>
  </h3>

  <%= render "shared/tabs" %>

  <!-- Cards -->
  <div id="cards" class="cards hide z100">
    <%= render "shared/cards", theses: @results %>
  </div>
  <footer id="card-preview" style="display: none">
    <% @results.each do |thesis| %>
      <table class="table thesis-footer hidden" id="thesis-footer-<%= thesis.id %>">
        <tbody>
          <tr>
            <td class="thesis-title">
              <h5><%= thesis.title %></h5>
              <small><%= thesis.subtitle %></small>
            </td>
            <td class="thesis-author"><%= thesis.user.first_name %> <%= thesis.user.last_name %></td>
            <td class="thesis-school"><%= thesis.school.name %></td>
            <td class="thesis-year"><%= thesis.year.year %></td>
            <td class="thesis-bookmarks"><%= thesis.votes_for.size %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </footer>

  <!-- List -->
  <div id="list" class="hide z100">
    <%= render "shared/list", theses: @results %>
  </div>


  <!-- Map -->
  <div id="map" class="hide"></div>
  <div id="info" class="school-info-wrapper"></div>


</main>
