<% content_for(:title_tag) do %>
  <%= @thesis.title %>
<% end %>

<main class="container full">

  <div id="thesis-cover-wrapper">
    <%= link_to user_thesis_path(@thesis.previous.user, @thesis.previous) do %>
      <i class="material-icons md-48" id="thesis-previous">keyboard_arrow_left</i>
    <% end %>


    <% if @thesis.cover? %>
      <%= image_tag asset_path("/covers/#{@thesis.cover}"), class: "thesis-cover shadow" %>
    <% else %>
      <%= image_tag asset_path("/covers/2014-timothee_goguely.jpg"), class: "thesis-cover shadow" %>
    <%# else %>
      <%#= cl_image_tag("#{@thesis.document.file&.public_id}.png", :width => 400, :crop => :fill, :page => 1, :class => "thesis-cover shadow") %>
    <% end %>

    <%= link_to user_thesis_path(@thesis.next.user, @thesis.next) do %>
      <i class="material-icons md-48" id="thesis-next">keyboard_arrow_right</i>
    <% end %>

  </div>

  <div id="thesis-content-wrapper">

    <!-- Bookmark -->
    <div id="bookmark-wrapper">
      <% if current_user %>
        <%= link_to bookmark_user_thesis_path, method: :post, remote: true, id:"bookmark" do %>
          <% if current_user.voted_for?(@thesis) %>
            <i class='material-icons md-36'>turned_in</i>
          <% else %>
            <i class='material-icons md-36'>turned_in_not</i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to bookmark_user_thesis_path, method: :post, id:"bookmark" do %>
          <i class='material-icons md-36'>turned_in_not</i>
        <% end %>
      <% end %>
      <div id="bookmark-counter" class=<%= "hide" if @thesis.get_likes.size == 0 %>>
        <%= @thesis.get_likes.size %>
      </div>
    </div>
    <%= link_to theses_path, id:"close" do %>
      <i class="material-icons" id="close-btn">close</i>
    <% end %>

    <div id="thesis-content">
      <h1 class="title"><%= @thesis.title %></h1>

      <% if policy(@thesis).edit? %>
        <%= link_to t('.edit') , edit_user_thesis_path(@thesis.user, @thesis), id: "edit", class: "button small upper secondary" %>
      <% end %>
      <% if @thesis.subtitle %>
        <h2 class="subtitle big"><%= @thesis.subtitle if @thesis.subtitle %></h2>
      <% end %>
      <hr>
      <div class="row" id="meta">
        <div class="col col-12">
          <p>
            <span class="year"><%= @thesis.year.year %></span>
            <span class="author"><%= @thesis.user.first_name %> <%= @thesis.user.last_name %></span>
            <span class="school"><%= @thesis.school.acronym.blank? ? @thesis.school.name : @thesis.school.acronym %>, <%= @thesis.school.city %></span>
          </p>
        </div>
      </div>

      <% unless @thesis.subcategories == [] %>
        <span class="category"><%= @thesis.subcategories.first.category.name %></span><br>
        <p class="subcategories">
          <% @thesis.subcategories.each do |subcategory| %>
            <span class="subcategory"><%= subcategory.name %></span>
          <% end %>
        </p>
      <% end %>

      <hr>

      <div class="resume">
        <p><%= @thesis.resume %></p>
      </div>

      <div class="tags">
        <% @thesis.tag_list.each do |tag| %>
          <%= link_to '#' + tag, search_path(keywords: tag) %>
        <% end %>
      </div>

      <% if user_signed_in? && @thesis.download && @thesis.pdf %>
        <%= link_to "<i class='material-icons md-36'>file_download</i>".html_safe, @pdf, target: "_blank", id: "download-btn" %>
      <% end %>
    </div>
  </div>

</main>
<!-- user_signed_in? &&
cloudinary_url(@thesis.document)
 -->
