<% content_for(:title_tag) do %>
  <%= @thesis.title %>
<% end %>



<main class="container">
  <h1><%= @thesis.title %></h1>
  <h2><%= @thesis.subtitle if @thesis.subtitle %></h2>
  <h3><%= @thesis.user.first_name %> <%= @thesis.user.last_name %></h3>

</main>
