<div class="container">
  <div class="row gutters">
    <div class="col col-3 profil">
      <div id="user-avatar">
        <%= image_tag "timothee.jpg", class:"avatar-full" %>
      </div>

      <div class="user-data">
        <%= @user.first_name %> <br>
        <%= @user.last_name %> <br>
        <%= @user.email %> <br>
        <%= @user.website %> <br>
        <%= @user.bio %>
      </div>
    </div>

    <div class="col col-9">
      <nav class="tabs" data-component="tabs">
        <ul>
          <div class="col col-3">
            <li><a href="#my_thesis">Mon Mémoire</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#my_bookmarks">Mes favoris</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#settings">Paramètres et Confidentialité</a></li>
          </div>
        </ul>
      </nav>

      <div id="my_thesis">Mémoire display test</div>
      <div id="my_bookmarks">Mes Favoris display test</div>
      <div id="settings">Paramètres display test</div>

    </div>
  </div>

</div>
