<% content_for(:title_tag) do %>
  <%= @user.first_name ? @user.first_name : 'anonymous' %> <%= @user.last_name ? @user.last_name : '' %>
<% end %>

<div class="row">
  <div class="col col-4">
    <% if @user.photo? %>
      <%= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.email %>
    <%= user.website %>
    <%= user.bio %>
  </div>

  <div class="col col-4">
  </div>
</div>

<nav id="tabs" class="tabs" data-component="tabs">
  <ul>
    <li><a href="#tab1">Profil</a></li>
    <li><a href="#tab2">Mon Mémoire</a></li>
    <li><a href="#tab3">Paramètres & Confidentialité</a></li>
  </ul>
</nav>

