<div class="container">
  <div class="row gutters">

    <div class="col col-3 profil">
      <div id="user-avatar">
        <%= image_tag "timothee.jpg", class:"avatar-large" %>
      </div>

      <div class="user-data">
        <p class="user-name"><%= @user.first_name %> <%= @user.last_name %></p>
        <p class="user-website">
          <%= link_to @user.website, @user.website %>
        </p>
        <p class="user-bio"><%= @user.bio %></p>
      </div>
    </div>

    <div class="col col-9">
      <nav class="tabs" data-component="tabs">
        <ul>
          <div class="col col-3">
            <li>
              <a href="#theses">
                <%= @user == current_user ? t('.thesis_tab_title_my_account') : t('.thesis_tab_title') %>
              </a>
            </li>
          </div>
          <div class="col col-3">
            <li>
              <a href="#bookmarks">
                <%= @user == current_user ? t('.bookmarks_tab_title_my_account') : t('.bookmarks_tab_title') %>
              </a></li>
          </div>
          <% if policy(@user).edit? %>
            <div class="col col-3">
              <li><a href="#settings"><%= t('.settings_tab_my_account') %></a></li>
            </div>
          <% end %>
        </ul>
      </nav>

      <!-- My theses -->
      <div class="tab-content" id="theses">
      <% @theses.each do |thesis| %>
        <%= link_to user_thesis_path(@user, thesis) do %>
          <h1><strong><%= thesis.title %></strong></h1>
          <p><%= thesis.school.name %>, <%= thesis.year.year %></p>
          <h2><%= thesis.subtitle if thesis.subtitle %></h2>
          <p><%= thesis.resume %></p>
        <% end %>
        <hr>
      <% end %>
      </div>

      <!-- My bookmarks -->
      <div class="tab-content" id="bookmarks">
        <% if @user.find_voted_items.count == 0 %>
          <h3><%= t('.no_bookmark_text') %></h3>
          <%= link_to t('.explore_link'), theses_path, class: "button outline secondary" %>
        <% else %>
          <%= render "shared/list", elements: @user.find_voted_items %>
        <% end %>
      </div>

      <!-- Settings & privacy -->
      <div class="tab-content" id="settings">
        <h3><%= t('.permission') %></h3>
      </div>
    </div>
  </div>

</div>


