<div class="container">
  <div class="row gutters">

    <div class="col col-3 profil">
      <div id="user-avatar">
        <%= image_tag "timothee.jpg", class:"avatar-large" %>
      </div>

      <div class="user-data">
        <p class="user-name"><%= @user.first_name %> <%= @user.last_name %></p>
        <p class="user-website">
          <%= link_to @user.website, @user.website %>
        </p>
        <p class="user-bio"><%= @user.bio %></p>
      </div>
    </div>

    <div class="col col-9">
      <nav class="tabs" data-component="tabs">
        <ul>
          <div class="col col-3">
            <li><a href="#theses">Mon Mémoire</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#bookmarks">Mes favoris</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#settings">Paramètres et Confidentialité</a></li>
          </div>
        </ul>
      </nav>

      <!-- My theses -->
      <div class="tab-content" id="theses">
      <% @theses.each do |thesis| %>
        <%= link_to user_thesis_path(thesis) do %>
          <h1><strong><%= thesis.title %></strong></h1>
          <h2><%= thesis.subtitle if thesis.subtitle%></h2>
          <p><%= thesis.resume %></p>
          <p><%= thesis.school.name %></p>
          <p><%= thesis.year %></p>
        <% end %>
        <hr>
      <% end %>
      </div>

      <!-- My bookmarks -->
      <div class="tab-content" id="bookmarks">
        My bookmarks
      </div>

      <!-- Settings & privacy -->
      <div class="tab-content" id="settings">Paramètres display test</div>

    </div>
  </div>

</div>


