<div class="container">
  <div class="row gutters">
    <div class="col col-3 profil">
      <div id="user-avatar">
        <%= image_tag "timothee.jpg", class:"avatar-full" %>
      </div>

      <div class="user-data">
        <%= @user.first_name %> <br>
        <%= @user.last_name %> <br>
        <%= @user.email %> <br>
        <%= @user.website %> <br>
        <%= @user.bio %>
      </div>
    </div>

    <div class="col col-9">
      <nav class="tabs" data-component="tabs">
        <ul>
          <div class="col col-3">
            <li><a href="#my_thesis">Mon Mémoire</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#my_bookmarks">Mes favoris</a></li>
          </div>
          <div class="col col-3">
            <li><a href="#settings">Paramètres et Confidentialité</a></li>
          </div>
        </ul>
      </nav>

      <div class="tab-content" id="my_thesis">
      <% @theses.each do |thesis| %>
        <h1><strong><%= thesis.title %></strong></h1>
        <h2><%= thesis.subtitle %></h2>
        <p><%= thesis.resume %></p>
        <p><%= thesis.school.name %></p>
        <p><%= thesis.year %></p>
      <% end %>
      </div>

      <div class="tab-content" id="my_bookmarks">
        My bookmarks
      </div>

      <div class="tab-content" id="settings">Paramètres display test</div>

    </div>
  </div>

</div>


