<main class="container" id="dashboard-wrapper">
  <div class="row gutters" id="dashboard">

    <div class="col col-3 user-avatar">
      <%= image_tag "timothee.jpg", class:"avatar-full rounded" %>
    </div>

    <!-- Tabs -->
    <div class="col col-8">
      <nav class="tabs" data-component="tabs">
        <ul class="row gutters">
          <div class="col">
            <li>
              <a href="#profile">
                <i class='material-icons md-18'>account_circle</i>
                <%= @user == current_user ? t('.profile_tab_title_my_account') : t('.profile_tab_title') %>
              </a>
            </li>
          </div>
          <div class="col">
            <li>
              <a href="#theses">
                <i class='material-icons md-18'>book</i>
                <%= @user == current_user ? t('.thesis_tab_title_my_account') : t('.thesis_tab_title') %>
              </a>
            </li>
          </div>
          <div class="col">
            <li>
              <a href="#bookmarks">
                <i class='material-icons md-18'>turned_in</i>
                <%= @user == current_user ? t('.bookmarks_tab_title_my_account') : t('.bookmarks_tab_title') %>
                <%= '(' + @user.find_voted_items.count.to_s + ')' unless @user.find_voted_items.count.zero? || @user.find_voted_items.count.nil? %>
              </a>
            </li>
          </div>
          <% if policy(@user).edit? %>
            <div class="col">
              <li>
                <a href="#settings"><i class='material-icons md-18'>settings</i> <%= t('.settings_tab_my_account') %></a>
              </li>
            </div>
          <% end %>
        </ul>
      </nav>

      <!-- My profile -->
      <div class="tab-content" id="profile">
        <fieldset>
          <div class="user-data">
            <h2 class="user-name"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
            <p class="user-bio"><%= @user.bio %></p>
            <p class="user-website">
              <%= link_to @user.website, @user.website, class: "underline" %>
            </p>
          </div>
          <% if policy(@user).edit? %>
            <%= link_to t('.edit') , edit_user_path(current_user), id: "edit", class: "button small upper secondary" %>
          <% end %>
        </fieldset>
      </div>

      <!-- My thesis -->
      <div class="tab-content" id="theses">
        <div id="cards" class="cards">
          <%= render "shared/cards", theses: @theses %>
        </div>
      </div>

      <!-- My bookmarks -->
      <div class="tab-content" id="bookmarks">
        <% if @user.find_voted_items.count == 0 %>
          <h3><%= t('.no_bookmark_text') %></h3>
          <%= link_to t('.explore_link'), theses_path, class: "button outline secondary" %>
        <% else %>
          <div id="cards" class="cards">
            <%= render "shared/cards", theses: @user.find_voted_items %>
          </div>
        <% end %>
      </div>

      <!-- Settings & privacy -->
      <% if policy(@user).edit? %>
        <div class="tab-content" id="settings">
          <h3><%= t('.permission') %></h3>
        </div>
      <% end %>
    </div>
  </div>

</main>


