<nav class="navbar z500">
  <div class="navbar-left">
    <h5 class="navbar-brand"><%= link_to "mnémosyne", root_path %></h5>
  </div>

  <div class="navbar-middle">

    <!-- Search -->
    <div class="navbar-item" id="search-wrapper">
      <form action="<% root_path %>/search" class="form" id="search-form">
        <div class="form-item">
          <input type="text" value="<%= params["keywords"] %>" name= "keywords" class="search" id="search-input" placeholder="<%= t(".search") %>">
        </div>
      </form>
    </div>

  </div>

  <div class="navbar-right">

    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-item">
        <div id="navbar-dropdown">
          <!-- Dropdown toggle -->
          <%= link_to "#", id: "user-avatar", "data-component" => "dropdown", "data-target" => "#dropdown" do %>
            <% if current_user.image? %>
              <%= image_tag current_user.image, class: "avatar avatar-big" %>
            <% else %>
              <%= image_tag "timothee.jpg", class: "avatar avatar-big" %>
            <% end %>
          <% end %>

          <!-- Notifications -->
          <%#= link_to "#", class: "badge-container" do %>
            <!--<span class="badge badge-blue">3</span>-->
          <%# end %>

          <div class="dropdown hide" id="dropdown">
            <a href="" class="close show-sm"></a>
            <ul>
              <li>
                <%= link_to user_path(current_user, anchor: "profile") do %>
                  <i class='material-icons md-18'>account_circle</i> <%= t(".my_profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user, anchor: "theses") do %>
                  <i class='material-icons md-18'>book</i> <%= t(".my_thesis") %>
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user, anchor: "bookmarks") do %>
                  <i class='material-icons md-18'>turned_in</i> <%= t(".my_bookmarks") %>
                  <%= '(' + current_user.find_voted_items.count.to_s + ')' unless current_user.find_voted_items.count.zero? %>
                <% end %>
                <!--<span class="label primary"><%#= current_user.bookmarks.count %></span>-->
              </li>
              <li>
                <%= link_to user_path(current_user, anchor: "settings") do %>
                  <i class='material-icons md-18'>settings</i> <%= t(".settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class='material-icons md-18'>exit_to_app</i> <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>

    <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item button secondary small upper" %>
    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Upload"), new_thesis_path, class: "navbar-item button secondary outline small upper hide-sm" %>

  </div>
</nav>
