<nav class="navbar z500">
  <div class="navbar-left">
    <h6 class="navbar-brand"><%= link_to "mnémosyne", root_path %></h6>
  </div>

  <div class="navbar-middle">

    <!-- Search -->
    <div class="navbar-item">
      <form action="" class="form">
        <div class="form-item">
          <input type="text" class="search" placeholder="<%= t(".search") %>">
        </div>
      </form>
    </div>

  </div>

  <div class="navbar-right">

    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-item">
        <div id="navbar-dropdown">
          <!-- Toggle -->
          <%= link_to "#", id: "user-avatar" do %>
            <%= image_tag "http://placehold.it/48x48", class: "avatar avatar-large", "data-component" => "dropdown", "data-target" => "#dropdown" %>
          <% end %>

          <!-- Notification -->
          <%= link_to "#", class: "badge-container" do %>
            <span class="badge badge-blue">3</span>
          <% end %>

          <div class="dropdown hide" id="dropdown">
            <ul>
              <li>
                <%= link_to "#" do %>
                  <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= t(".profile", default: "Home") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>

    <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item button secondary" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Upload"), new_thesis_path, class: "navbar-item button secondary outline" %>

  </div>
</nav>
