<%= link_to "<i class='material-icons md-18'>filter_list</i> Filtres".html_safe, "#", class: "button outline small secondary upper z400", id: "filters-btn", "data-component" => "offcanvas", "data-target" => "#offcanvas-left" %>

<aside id="offcanvas-left" class="hide sidebar">
  <ul>
    <li data-component="collapse" id="filter-category">
      <div class="form-item">
        <a href="#categories" class="collapse-toggle">
          <label>Catégories <span class="caret down"></span></label>
        </a>
        <div id="categories" class="collapse-box">
          <button type="button" data-filter="all" class="category upper">Toutes <span class="category-counter">1024</span></button>
          <% Thesis::CATEGORIES.each do |category| %>
            <button type="button" data-filter=".<%= category %>" class="category upper"><%=category.gsub("-", " ").capitalize %> <span class="category-counter"><%= Thesis.joins(:categories).where(categories: { name: category }).count %></span></button>
          <% end %>
        </div>
      </div>
    </li>

    <li id="filter-school">
      <div class="form-item">
        <label>École</label>
        <select class="small">
          <option value="" selected disabled>Choisissez une école</option>
          <% @schools.each do |school| %>
            <option value="<%= school.id %>"><%= school.acronym? ? school.acronym : school.name %></option>
          <% end %>
        </select>
      </div>
    </li>

    <li id="filter-diploma">
      <div class="form-item">
        <label>Diplôme</label>
        <select class="small">
          <option value="" selected disabled>Choisissez un diplôme</option>
          <% @diplomas.each do |diploma| %>
            <option value="<%= diploma.id %>"><%= diploma.acronym? ? diploma.acronym : diploma.name %></option>
          <% end %>
        </select>
      </div>
    </li>
  </ul>
</aside>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $("#filter-school").children().find("select.small").change(function(){
        var value = $(this).val();
        console.log("school_id :" + value);
      });
    });
  </script>
<% end %>
