<%= link_to "<i class='material-icons md-18'>filter_list</i> Filtres".html_safe, "#", class: "button outline small secondary upper z400", id: "filters-btn", :style => 'display: none', "data-component" => "offcanvas", "data-target" => "#offcanvas-left" %>

<aside id="offcanvas-left" class="hide sidebar">
  <ul>
    <li data-component="collapse" id="filter-category">
      <div class="form-item">
        <a href="#categories" class="collapse-toggle">
          <label>Catégories <span class="caret down"></span></label>
        </a>
        <div id="categories" class="collapse-box">
          <fieldset data-filter-group>
            <button type="button" data-filter="all" class="category upper">Toutes <span class="category-counter"><%= Thesis.count %></span></button>
            <% Thesis::CATEGORIES.each do |category| %>
              <button type="button" data-filter=".<%= category %>" class="category upper"><%=category.gsub("-", " ").capitalize %> <span class="category-counter"><%= @theses_per_category.count([category]) %></span></button>
            <% end %>
          </fieldset>
        </div>
      </div>
    </li>

    <li id="filter-school">
      <div class="form-item">
        <fieldset data-filter-group>
          <label>École</label>
          <select class="small">
            <option value="" selected>–</option>
            <% @school_cities.each do |city, schools| %>
              <optgroup label="<%= city %>">
                <%= schools.each do |school| %>
                  <option value=".school-<%= school.id %>"><%= school.acronym? ? school.acronym : school.name %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </fieldset>
      </div>
    </li>

    <li id="filter-diploma">
      <div class="form-item">
        <fieldset data-filter-group>
          <label>Diplôme</label>
          <select class="small">
            <option value="" selected>–</option>
            <% @diplomas.each do |diploma| %>
              <option value=".diploma-<%= diploma.id %>"><%= diploma.acronym? ? diploma.acronym : diploma.name %></option>
            <% end %>
          </select>
        </fieldset>
      </div>
    </li>
  </ul>
</aside>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $("#filter-school").children().find("select.small").change(function(){
        var value = $(this).val();
        //console.log("school_id :" + value);
      });
    });
  </script>
<% end %>
