<h1><%= @school.name %></h1>
<hr>
<h2><%= @school.category %></h2>
<hr>
<p><%= @school.address_1 %></p> <br>
<p><%= @school.zipcode %></p> <br>
<p><%= @school.city %></p> <br>
<p><%= @school.website %></p>
<hr>


